html, body
  padding: 0
  margin: 0
  height: 100%

html, body, header, section, div, ul, li, textarea
  box-sizing: border-box

section
  height: 100%
  display: flex
  flex-direction: row
  justify-contents: flex-start
  
#root
  width: 100%
  padding: 40px
  font-size: 14px
  line-height: 1.4em
  ul, ol
    margin: 0
    padding-left: 22px
    list-style: none
  span.toggle, span.toggle-end
    color: #729FCF
  span.property
    color: #204a87
  span.number
    padding-left: 5px
    color: #ad7fa8
  span.string
    padding-left: 5px
    color: #4e9a06


textarea, #root
  width: 30%
  min-width: 500px
  height: 100%
  font-size: 14px
  padding: 40px
  border: 1px solid #ccc
  outline: none
	
header
	height: 40px
	
  
